

<div class="container">
<div class="panel panel-info">
<div class="panel panel-heading">
	<h2>Job Details</h2>
	</div>
	<div class="panel-body">
		<h4><b>Job Title :</b>           {{job.jobTitle}}</h4><br>
		<h4><b>Job Description :</b>     {{job.jobDescription}}</h4><br> 
		<h4><b>Skills Required :</b>     {{job.skillsRequired}}</h4><br> 
		<h4><b>Location :</b>            {{job.location}}</h4><br>
		<h4><b>Years of Experience :</b> {{job.yrsOfExp}}</h4><br>
		<h4><b>Salary :</b>              {{job.salary}}</h4><br>
		<h4><b>Posted On :</b>           {{job.postedOn | date:'medium'}}</h4><br>
	
</div>
</div>
</div>
<h2><b><a href="#/getalljobs">Back</a></b></h2>





